h1{
    color: white;
    font-size: 50px;
}
.jumbotronglobe{
    background-attachment: scroll;
    height: 450px;
    background-size:cover;
    background-image: url(globe.jpg);
    text-align: center;
}
.display-4{
    color: black;
    font-size: 75px;
    text-align: initial;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lead{
    color: black;
}
.fas fa-star-of-david{
    font: blue;
}
.jumbotronisrael{
    background-attachment: scroll;
    height: 450px;
    background-size: cover;
    background-image: url(jerusalem-1712855_new.jpg);
    text-align: center;
}
.jumbotronamalfi{
    background-attachment: scroll;
    height: 550px;
    background-size: cover;
    background-image: url(italy.jpg);
    text-align: center; 
}
.amalficoast{
    color: black;
    font-size: 70px;
    font-family: monospace;
    text-align: initial;
}
.jumbotronvail{
    background-attachment: scroll;
    height: 550px;
    background-size: cover;
    background-image: url(vailpic1.jpg);
    text-align: center;   
}
h3{
    font-size: 65px;
    font-style: italic;
}
.carouselisrael{
    height: 300px;
    width: 300px;
}
.carouselslide{
    text-align: center;
}
.display-5{
    color: white;
    font-size: 60px;
    text-align: initial;
}
.display-6{
    color: white;
    font-size: 100px;
    text-align: initial;
}
